##Protege
**/catalog*.xml

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

    © 2018 GitHub, Inc.
    Terms
    Privacy
    Security
    Status
